<%# Metadata %>
<% @page_title = 'Publisher' %>
<% @meta_description = "Profile page for  #{@profile.user.username}" %>

<%# Page class %>
<% @page_id = 'publisher-profile' %>

<%# Content %>
<div class="small-title">Publisher</div>

<h1><%= @profile.user.username %></h1>

<h3><%= @publisher.website %></h3>

<p><%= @publisher.description %></p>

<h3>Books</h3>

<%= link_to 'Edit', edit_publisher_path(@publisher) %>
