body {
    font-size: 16px;
    font-family: $font-primary;
    line-height: 2em;
    color: $main-light;
    background: image-url("bg_paper.jpg");
    // background-size: cover;
}

.main.container-fluid {
    padding: 0;
}

h1 {
    text-align: center;
    font-family: $font-display;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: $main-dark;
}

h2, h3, h4 {
    color: $main-med;
}

h2 {
    font-size: 22px;
    text-align: center;
}

h3 {
    font-size: 20px;
}


// Header

header {
    padding: 30px 20px;
    .site-title {
        text-align: center;
        font-size: 40px;
        font-family: $font-display;
        text-transform: uppercase;
        word-spacing: 0.3em;
        color: $main-dark;
        margin-bottom: 20px;
        a {
            text-decoration: none;
            color: $main-dark;
            &:hover {
                text-decoration: none;
                color: $main-dark;
            }
        }
    }
    .tagline {
        text-align: center;
        font-size: 25px;   
        font-family: $font-display;
        color: $secondary-pop-one;
    }
}

// Main pages

.small-title {
    text-transform: uppercase;
    color: $main-med;
    font-size: 16px;
    text-align: center;
}

// Footer

footer {
    color: #fff;
    background: $primary-dark;
    padding: 30px 10px;
    text-align: center;
    h4 {
        margin: 20px 0;
        color: #fff;
    }
    p {
        max-width: 400px;
        margin: 0 auto;
        color: #fff;
    }
}

// Buttons

.btn, a.button {
    background: $secondary-pop-one;
    color: #fff;
    text-transform: uppercase;
    border-radius: 0;
    font-family: $font-primary;
    border: thin solid $main-dark;
    &:hover {
        background: darken($secondary-pop-one, 10%);
        color: #fff;
    }
}

a.button {
    padding: 0.5rem 0.75rem;
    text-decoration: none;
    transition: all 0.15s ease-in-out;
}

// Links

a {
    text-decoration: none;
    color: $secondary-pop-one;
    &:hover {
        color: $main-med;
        text-decoration: none;
    }
}


// Labels

 label {
     color: $main-med;
     font-size: 0.9em;
     margin-bottom: 0rem;
 }
//Images

.rounded-circle {
    position: relative;
    height: 100px;
    width: 100px;
    overflow: hidden;
    margin: 0 auto 20px;
}

.rounded-circle img {
    position: absolute;
    left: 50%;
    width: 100px;
    height: auto;
    transform: translateX(-50%);
 }

// Countries page
#country {
    .content {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}


// Author page

#author {
    .content {
        max-width: 800px;
        margin: 0 auto;
        a {
            color: $secondary-pop-one;
        }
    }
    .dob {
        text-align: center;
    }
    .bio {
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .photo {
        margin-top: 20px;
        filter: grayscale(100%);
        border: thin solid $main-dark;
    }
    .img-fluid {
        max-height: 250px;
    }
    .goodreads {
        // text-align: center;
    }
}

// Book page

.books-body {
    margin-top: 30px;
    margin-bottom: 30px;
    .description {
        margin-bottom: 1rem;
    }
    .api_link {
        span {
            font-size: 0.8em;
        }
    }
}

#book-display {
    max-width: 800px;
    margin: 0 auto;
}
