body {
    font-size: 16px;
    font-family: $font-primary;
    line-height: 2em;
    color: $main-light;
    background: image-url("bg_paper.jpg");
    // background-size: cover;
}

.main.container-fluid {
    padding: 0;
}

h1 {
    text-align: center;
    font-family: $font-display;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: $main-dark;
}

h2, h3, h4 {
    color: $main-med;
}

h2 {
    font-size: 22px;
    text-align: center;
}

h3 {
    font-size: 20px;
}

// Navigation bar

.top-nav {
    padding: 10px;
}

.navbar {
    display: inline-block;
    .nav-link {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.aa-input-container {
    display: inline-block;
    float: right;
}
#user_nav {
    display: inline-block;
    float: right;
    padding-top: 5px;
    margin-right: 10px;
}


// Header

header {
    padding: 30px 20px;
    .site-title {
        text-align: center;
        font-size: 40px;
        font-family: $font-display;
        text-transform: uppercase;
        word-spacing: 0.3em;
        color: $main-dark;
        margin-bottom: 20px;
        a {
            text-decoration: none;
            color: $main-dark;
            &:hover {
                text-decoration: none;
                color: $main-dark;
            }
        }
    }
    .tagline {
        text-align: center;
        font-size: 25px;   
        font-family: $font-display;
        color: $secondary-pop-one;
    }
}

// Main pages

.small-title {
    text-transform: uppercase;
    color: $main-med;
    font-size: 16px;
    text-align: center;
}

// Footer

footer {
    color: #fff;
    background: $primary-dark;
    padding: 30px 10px;
    text-align: center;
    h4 {
        margin: 20px 0;
        color: #fff;
    }
    p {
        max-width: 400px;
        margin: 0 auto;
        color: #fff;
    }
    .btn, a.button {
        background: darken($secondary-pop-one, 10%);
        color: #fff;
        text-transform: uppercase;
        border-radius: 0;
        font-family: $font-primary;
        border: thin solid $main-dark;
        &:hover {
            background: $secondary-pop-one;
            color: #fff;
        }
    }
    
    a.button {
        padding: 0.5rem 0.75rem;
        text-decoration: none;
        transition: all 0.15s ease-in-out;
    }
}

// Buttons

.btn, a.button {
    background: darken($secondary-pop-one, 10%);
    color: #fff;
    text-transform: uppercase;
    border-radius: 0;
    font-family: $font-primary;
    font-size: 14px;
    border: thin solid $main-dark;
    &:hover {
        background: $secondary-pop-one;
        color: #fff;
    }
}

a.button {
    padding: 0.5rem 0.75rem;
    text-decoration: none;
    transition: all 0.15s ease-in-out;
}

a.disabled {
    background: lighten($secondary-pop-one, 10%);
}

a.button {
    padding: 0.5rem 0.75rem;
    text-decoration: none;
    transition: all 0.15s ease-in-out;
}


// Links

a {
    text-decoration: none;
    color: $secondary-pop-one;
    &:hover {
        color: $main-med;
        text-decoration: none;
    }
}

.helper {
    font-size: 12px;
}

// Labels

 label {
     color: $main-med;
     font-size: 0.9em;
     margin-bottom: 0rem;
 }

//Images

.rounded-circle {
    position: relative;
    height: 100px;
    width: 100px;
    overflow: hidden;
    margin: 0 auto 20px;
}

.rounded-circle img {
    position: absolute;
    left: 50%;
    width: 100px;
    height: auto;
    transform: translateX(-50%);
 }


 //Regions page
#regions {
    .region-body {
        margin-top: 50px;
        // margin-bottom: 30px;
    }
    .col-sm-12 {
        margin-bottom: 30px;
        padding-top: 15px;
        padding-bottom: 20px;
        background: white;
    }
    h3 {
        text-align: center;
    }
}


// Countries page
#country {
    .content {
        margin-top: 50px;
        margin-bottom: 30px;
    }
    .display-books {
        max-height: 500px;
        overflow-y: auto;
        justify-content: space-evenly;
    }
    .each-book {
        max-width: 170px;
    }
    .feature-book {
        max-height: 500px;
        overflow-y: auto;
        .img-fluid {
            width: 100%;
        }
    }

    .authors-display {
        margin-top: 30px;
        justify-content: space-evenly;
        .author {
            padding: 10px;
            margin: 20px;
        }
    }
}


// Author page

#author {
    .content {
        max-width: 800px;
        margin: 0 auto;
        a {
            color: $secondary-pop-one;
        }
    }
    .dob {
        text-align: center;
    }
    .bio {
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .photo {
        margin-top: 20px;
        filter: grayscale(100%);
        border: thin solid $main-dark;
    }
    .img-fluid {
        max-height: 250px;
    }
    .goodreads {
        // text-align: center;
    }
}

// Book page


.books-body {
    margin-top: 50px;
    margin-bottom: 30px;
    .col-sm-4 {
        text-align: center;
    }
    .description {
        margin-bottom: 1rem;
    }
    .api_link {
        span {
            font-size: 0.8em;
        }
    }
 }

#book-display {
    max-width: 800px;
    margin: 0 auto;
}

#favourite_book {
    margin-bottom: 10px;
    margin-left: 5px;
    .fa {
        font-size: 22px;
        margin-left: 10px;
    }
}

.user_buttons {
    margin: 30px 0;
    #reading_list, #have_read {
        margin-bottom: 20px;
        .fa {
            margin-left: 10px;
        } 
    }
}



// Profile pages

#profile {
    .temp-buttons {
    text-align: center;
    }
    .container {
        margin-top: 50px;
        margin-bottom: 30px;
    }
}

.profile-body {
    margin-top: 50px;
    margin-bottom: 30px;
}

#profile-books, #profile-countries  {
    h2 {
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .profile-body .col-sm-12 {
        background: white;
        padding: 20px;
        max-height: 600px;
        overflow: auto;
    }
}

#profile-countries {
    .faux-map img {
        width: 100%;
    }
}



// Registration page
#registration {
    .faux-map img {
        width: 100%;
    }
    main {
        margin-bottom: 30px;
    }

    .publisher-block {
        border: thin solid $main-light;
        padding: 10px;
        margin-bottom: 30px;
    }

    .create-account {
        input {
            width: 100%;
        }
    }

    .actions.button {
        margin-top: 20px;
    }

    .devise-links {
        text-align: center;
    }
}

//Publisher registration

#publisher_registration {
    .rego-content {
        margin-top: 50px;
        margin-bottom: 30px;
    }       
    .rego-form {
        label {
            display: block;
        }
        max-width: 500px;
        width: 100%;        
        input, textarea {
            width: 100%;
        }
    }     

}

