body {
    font-size: 16px;
    font-family: $font-primary;
    line-height: 1.8em;
    color: $main-light;
}

.main.container-fluid {
    padding: 0;
}

h1 {
    text-align: center;
    font-family: $font-display;
    font-size: 2rem;
    margin-bottom: 2rem;
    color: $main-dark;
}

h2, h3, h4 {
    color: $main-med;
    a {
        text-decoration: none;
        color: inherit;
        &:hover {
            color: $secondary-pop-one;
            text-decoration: none;
        }
    }
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 20px;
}


// Header

header {
    padding: 30px 20px;
    .site-title {
        text-align: center;
        font-size: 40px;
        font-family: $font-display;
        text-transform: uppercase;
        word-spacing: 0.3em;
        color: $main-dark;
        margin-bottom: 20px;
        a {
            text-decoration: none;
            color: $main-dark;
            &:hover {
                text-decoration: none;
                color: $main-dark;
            }
        }
    }
    .tagline {
        text-align: center;
        font-size: 25px;   
        font-family: $font-display;
        color: $secondary-pop-one;
    }
}

// Footer

footer {
    color: #fff;
    background: $primary-dark;
    padding: 30px 10px;
    text-align: center;
    h4 {
        margin: 20px 0;
        color: #fff;
    }
    p {
        max-width: 400px;
        margin: 0 auto;
        color: #fff;
    }
}

// Buttons

.btn, a.button {
    background: $secondary-pop-one;
    color: #fff;
    text-transform: uppercase;
    border-radius: 0;
    font-family: $font-primary;
    border: thin solid $main-dark;
    &:hover {
        background: darken($secondary-pop-one, 20%);
    }
}

a.button {
    padding: 0.5rem 0.75rem;
    text-decoration: none;
    transition: all 0.15s ease-in-out;
}
