$font-primary:   ('Open Sans', sans-serif);
$font-display: 'Corben', cursive;

// font colours
$main-dark: #101010;
$main-med: #3f3f3f;
$main-light: #575757;

// contrast colours
$primary-dark: #18242F; //dark blue
$primary-light: #F2EFEC; //offwhite

// highlight colours
$secondary-light: #C0B3A0; // stone
$secondary-pop-one: #c74360; //hotpink
$secondary-pop-two: #3F3250; //bright purple