$font-primary:   ('Open Sans', sans-serif);
$font-display: 'Corben', cursive;

// $primary-color: #30343C; //grey-black
$main-dark: #101010;
$main-med: #3f3f3f;
$main-light: #575757;

$primary-dark: #18242F; //dark blue
$primary-light: #F2EFEC; //offwhite

$secondary-light: #C0B3A0; // stone
$secondary-pop-one: #c74360; //hotpink
$secondary-pop-two: #3F3250; //bright purple