<%# Metadata %>
<% @page_title = @region.name %>
<% @meta_description = "Countries of #{@region.name}" %>

<%# Page class %>
<% @page_id = 'region' %>

<%# Content %>

<div class="small-title">Region</div>

<h1>
  <%= @region.name %>
</h1>

<div class="text-center">
  <% @countries.order(:name).each do |country| %>
    <p><%= link_to country.name, country %></p>
  <% end %>
</div>

<% if current_user.try(:admin?) %> 
  <%= link_to 'Edit', edit_region_path(@region) %>
<% end %>
